<ion-header-bar class="bar-positive">
    <h1 class="title"><a href="#/" class="no_decoration">Storyteller</a></h1>
    <a href="#/settings">
    	<button ng-if="activeuser" class="button button-clear icon ion-gear-a settings-button"></button>
    </a>
</ion-header-bar>
<ion-content>
  <div class="list">
    <ion-item class="library-list" ng-repeat="book in books">
        <h3>{{book.title}}</h3>
        <p>by {{book.author}}</p>
        <a class="no_decoration" href="#/edit/{{book._id}}">
          <button class="button button-stable">
            Edit Book
          </button>
        </a>
        <button class="button button-assertive" ng-click="deleteBook(book)">
          Delete
        </button>
    </ion-item>
    <a class="no_decoration" href="#/new_book">
        <button class="button button-full button-balanced">
          Add New Book
        </button>
    </a>
  </div>
</ion-content>