<ion-header-bar class="navbar-color" ng-include="templates[0].url"></ion-header-bar>
<ion-content class="has-header">
	<div class="list">
		<ion-item class="library-list" ng-repeat="book in books">
			<button class="button button-assertive button-clear delete-book-button" ng-click="deleteBook(book)">
				Delete
			</button>
			<h3>{{book.title}}</h3>
			<p>by {{book.author}}</p>
			<a class="no_decoration" href="#/edit/{{book._id}}">
				<button class="button button-stable">
					Edit Book
				</button>
			</a>
		</ion-item>
		<a class="no_decoration" href="#/new_book">
			<button class="button button-full button-balanced">
				Add New Book
			</button>
		</a>
	</div>
</ion-content>