<ion-header-bar class="bar-dark navbar-color" ng-include="templates[0].url"></ion-header-bar>
<ion-content class="has-header">
	<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
		<ion-slide ng-repeat="page in pages">
			<div ng-controller="BookCtrl" class="list card book-card">
				<div class="item item-divider page-thumbnail-holder">
					<div class="row">
						<div class="col col-center word">
						</div>
						<div class="col thumbnail-div">
							<img ng-if="$index!=0 && $index!=pages.length-1" class="page-thumbnail-image" ng-src="{{page.image._downloadURL}}">
							<div ng-if="$index!=0 && $index!=pages.length-1" class="overlay" ng-click="showPopup(page.image._downloadURL)">
								<p class="page_number">{{$index}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item item-text-wrap page-card">
					<p id="text_js" class="reading-text">
						<div ng-repeat="paragraph in page.listed_text" class="paragraph_style">
							<span ng-repeat="word in paragraph track by $index" ng-click="translateWord($event, word, $index)" ng-class="{ 'selected-class-name': $index == selectedIndex}" >
								{{word}}
							</span>
						</div>
					</p>
					<button id="audio_js" class="button button-block button-balanced audio-button" ng-click="clickMe($index)">
						<i class="icon listen-icon ion-play"></i>
						<strong> &nbsp;&nbsp;PLAY </strong>
					</button>

				</div>
			</div>
		</ion-slide>
	</ion-slide-box>
</ion-content>