<ion-header-bar class="bar-positive">
    <h1 class="title"><a href="#/" class="no_decoration">Storyteller</a></h1>
    <a href="#/settings">
      <button ng-if="activeuser" class="button button-clear icon ion-gear-a settings-button"></button>
    </a>
</ion-header-bar>
<ion-content>
  <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
    <ion-slide ng-repeat="page in pages">
      <div ng-controller="BookCtrl" class="list card">
        <div class="item item-divider page-thumbnail-holder">
          <div class="row">
            <div class="col col-center word">
              {{selected_word}}
              <i ng-if="selected_word" class="icon ion-arrow-swap"></i>
              {{translated_word}}
            </div>
            <div class="col thumbnail-div">
              <img class="page-thumbnail-image" src="{{page.image._downloadURL}}">
            </div>
          </div>
          <!-- <div class="word selected_word"> {{selected_word}} </div>
          <div class="word translated_word"> {{translated_word}} </div>
          <img class="page-thumbnail-image" src="{{page.image._downloadURL}}"> -->
        </div>
        <div class="item item-text-wrap page-card">
          <p id="text_js" class="reading-text">
            <span ng-repeat="word in page.listed_text track by $index" ng-click="translateWord(word)">
              {{word}}
            </span>
          </p>
          <button id="audio_js" class="button button-full button-light item-icon-left audio-button" ng-click="clickMe($index)">
            <i class="icon ion-volume-medium"></i>
            Start listening
          </button>
        </div>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-content>