<ion-header-bar class="bar-dark navbar-color" ng-include="templates[0].url"></ion-header-bar>
<ion-content class="has-header has-footer">
	<div class="list" ng-controller="EditCtrl">
		<a class="item item-avatar" ng-repeat="page in pages" href="#/edit_page/{{book._id}}/{{$index}}">
	    	<img ng-src="{{page.image._downloadURL}}">
	    	<h2>Page {{$index+1}}</h2>
	    	<p>{{page.text}}</p>
	    </a>
	</div>
	<div class="no-pages" ng-if="pages.length==0">
		<img ng-src="http://i.imgur.com/wjQX0xG.png" width="50%">
		<p> Get started by adding pages </p>
	</div>
</ion-content>
<a class="no_decoration" href="#/new_page/{{book._id}}/0">
	<div class="bar bar-footer bar-balanced">
	  	<div class="title">+ Add Page</div>
	</div>
</a>
