<ion-header-bar class="bar-dark navbar-color" ng-include="templates[0].url"></ion-header-bar>
<ion-content class="has-header">
	<div class="list card item item-image add-book-button">
		<a class="no_decoration add-book-link" href="#/new_book">
			+ Add your own books
		</a>
	</div>
	<div class="list card" ng-repeat="book in books" ng-if="book.pages">
		<div class="item item-image">
			<a href="#/book/{{book._id}}">
				<img class="cover-image" ng-src="{{book.cover_id._downloadURL}}">
			</a>
		</div>
		<a class="no_decoration" href="#/book/{{book._id}}">
			<button class="button button-block button-balanced start-reading">
				Start Reading
			</button>
		</a>
	</div>
</ion-content>