<ion-header-bar class="bar-dark navbar-color" ng-include="templates[0].url"></ion-header-bar>
<ion-content class="has-header">
	<form ng-submit="submit()" name="loginForm" ng-controller="LoginCtrl" class="login-form">
		<div class="list list-inset">
			<div class="item item-divider item-assertive" ng-if="flash">
				{{flash}}
			</div>
			<label class="item item-input">
				<input name="email" ng-model="email" type="email" placeholder="Email" required>
			</label>
			<label class="item item-input">
				<input name="password" ng-model="password" type="password" placeholder="Password" required>
			</label>
			<button type="submit" class="button button-block button-balanced">
				<strong> Login </strong>
			</button>
			<a href="#/signup" class="button button-clear button-balanced">
			<strong> New? Sign up here. </strong>
			</a>
			<br>
			<a href="#/lost_login" class="button button-clear button-assertive">
			<strong> Reset your password? Click here. </strong>
			</a>
		</div>
	</form>
</ion-content>