<ion-header-bar class="bar-positive">
	<a ng-click='back()' class="no_decoration">
        <button class="button button-clear icon ion-chevron-left"></button>
    </a>
    <h1 class="title"><a href="#/" class="no_decoration">Storyteller</a></h1>
    <a href="#/settings">
    	<button ng-if="activeuser" class="button button-clear icon ion-gear-a settings-button"></button>
    </a>
</ion-header-bar>
<ion-content>
	<form name="newBookForm" ng-controller="NewBookCtrl" class="new-book-form">
		<div class="list list-inset">
		  <div class="list">
			  <label class="item item-input">
			    <input name="title" ng-model="title" type="text" placeholder="Title" required>
			  </label>
			  <label class="item item-input">
			    <input name="author" ng-model="author" type="text" placeholder="Author" required>
			  </label>
			  <label class="item item-input">
			  	<input type="file" file-model="myFile"/>
			  </label>
		  </div>
		  <button ng-click="uploadFile()" class="button button-block button-stable">
		    Create
		  </button>
		</div>
	</form>
</ion-content>