<ion-header-bar class="bar-dark navbar-color" ng-include="templates[0].url"></ion-header-bar>
<ion-content class="has-header">
	<form name="newBookForm" ng-controller="NewBookCtrl" class="new-book-form">
		<div class="list list-inset">
			<div class="list">
				<label class="item item-input">
					<input name="title" ng-model="title" type="text" placeholder="Title" required>
				</label>
				<label class="item item-input">
					<input name="author" ng-model="author" type="text" placeholder="Author" required>
				</label>
				<label class="item item-input">
					<input type="file" file-model="myFile"/>
				</label>
			</div>
			<button ng-click="uploadFile()" class="button button-block button-stable">
				Create
			</button>
		</div>
	</form>
</ion-content>