.library-list:first-child{
	border-top: none;
}

.book-avatar{
	border-radius: 0px !important;
}

.reading-text{
	font-size: 16px !important;
	line-height: 150%;
	padding-left: 10px;
	padding-right: 10px; 
}

a.no_decoration{
	text-decoration: none;
}

.page-card{
	min-height: 60vh;
	border-radius: 0px !important;
	padding: 0px;
	background-color: #f5f5f5;
	padding-top: 15px;
}

.page-thumbnail-holder{
	background-color: #ffffff;
	border-bottom: 0px !important;
	border-radius: 0px !important;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 7px;
	}

.thumbnail-div{
	margin-right: -13px !important;
	margin-top: -7px !important;
	padding-bottom: 0px !important;
	float: right;
}

.page-thumbnail-image{
	/*border-bottom: 1px solid #ddd;*/
	/*border-left: 1px solid #ddd;*/
	width: 20vw;
	float: right;
}

.audio-button{
	position:absolute;
	bottom: 0px;
	margin-bottom: 0px !important;
	color: #66cc33 !important;
}

.settings-button{
	position:absolute;
	right: 0px;
}

.word{
	font-weight: normal;
	font-size: 14px;
}

/*span.activated{
	color: #4a87ee;
}*/

.selected-class-name {
  color: #4a87ee;
}

.spokenWord{
	color: red;
}

.admin-link{
	padding-left: 10px;
}

.edit-text{
	padding: 10px;
	min-height: 60vh;
	margin-top: -15px;
	background-color: #f5f5f5;
}

.save-edits-button{
	position:absolute;
	bottom: 0px;
	margin-bottom: 0px !important;
}

.delete-page-button{
	padding: 0px !important;
	float:right;
	margin-top: -15px;
	margin-right: -25px;
}

.add-page-button{
	padding: 0px !important;
	float:right;
}

.edit-thumbnail-div{
	float: left;
	margin-left: -15px;
}

.delete-page-div{
	float: right;
}

.edit-thumbnail-image{
	width: 20vw;
	float: left;
}

.edit-page-photo{
	margin-left: -20px
}

.edit-card{
	box-shadow: none;
}

.delete-book-button{
	float: right;
	margin-right: -10px;
	margin-top: -20px;
}